body{
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;

    background-image: url(/sprites/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.start-menu{
    margin-right: 5vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 10px;
}

.start-menu label{
    font-size: 30px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

#start-btn{
    all: unset;

    padding: 8px 15px;
    border-radius: 10px;
    background-color: white;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
}

#difficulty-container{
    display: flex;
    justify-content: center;
}

#difficulty{
    all: unset;
    color: white;
    font-size: 28px;
    text-align: center;
}

#change-difficulty-btns{
    display: flex;
    flex-direction: column;
}

#change-difficulty-btns button{
    all: unset;
    width: 30px;
    height: 20px;
    cursor: pointer;

    background-image: url(/sprites/up-arrowhead.png);
    background-repeat: no-repeat;
    background-size: contain;

}

#change-difficulty-btns #down-difficulty-btn{
    transform: rotate(180deg);
}