.tower-level {
    transform-origin: bottom;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    user-select: none;
    -webkit-user-select: none;
}

body{
    padding: none;
    margin: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("/sprites/background.png");
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #21252927;
    width: 80vw;
    height: 80vh;
    border-radius: 50px;
}

.tower{
    width: 20%;
    height: 70%;
    background-color: #7c0e0e34;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.tower-level.top-tower-level{
    cursor: grab;
    border: 2px solid red;
}